{{ define "main" }}

<main class="container-fluid p-0">
    <div class="card-header py-2 cv-header">
        <div class="container row mx-auto px-0">
            <div class="col-6 px-0">
                <h3 class="px-3 text-capitalize">THANGARAJA VAIYAPURI</h3>
                <h6 class="px-3 text-muted"> <strong>Email: </strong>vaiyapuri.thangaraja@gmail.com </h6>
                <h6 class="px-3 text-muted text-capitalize"> <strong>Contact: </strong>+65 - 8186 0115 </h6>
            </div>
            <div class="col-6 px-0 text-right">
                <h6 class="px-3 text-muted text-capitalize"> <strong>Passport: </strong>Valid till 2028, <strong>Visa:
                    </strong>Valid till 2022 </h6>
                <h6 class="px-3 text-muted text-capitalize"> <strong>Resident Address: </strong>BLK 104A, #13-45,
                    Punggol </h6>
                <h6 class="px-3 text-muted text-capitalize">Edgefield plains, Punggol. Singapore - 821104</h6>
            </div>
        </div>
    </div>


    <section class="container mt-2">
        <h3 class="py-2 border-bottom mb-3 text-capitalize">summary</h3>
        <p class="text-muted mb-2 f-16">I have 10 years of IT experience in administration and Support activities.
            Application Deployment and testing utilizing Ansible. Worked in container-predicated OpenPaaS technologies
            like Docker, Kubernetes and Redhat OpenShift. Technical Expertise includes in AIX, LPAR, VIO and HACMP. Have
            a good exposure and quandary-solving skills in Sun Solaris and Linux.</p>
    </section>

    <section class="container mt-2">
        <div class="row">              
            <div class="col-7">
                <h3 class="py-2 border-bottom mb-3 text-capitalize">skills</h3>
                <dl class="row mb-0">
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Cloud</h5>
                    <dd class="col-md-9 f-16">Redhat Openshift, Docker & Kuberneties.</h5>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Operating System</dt>
                    <dd class="col-md-9 f-16">AIX 4.3,5.x,6.1,7.1, Red Hat Linux ES 5, 6, 7, Solaris 10,11 </dd>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Hardware</dt>
                    <dd class="col-md-9 f-16">IBM pSeries 520,p550,p680,p690, POWER6, POWER7 and POWER8, HP Blades C7000</dd>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Scripting</dt>
                    <dd class="col-md-9 f-16">shell scripting (Bash, ksh), python.</dd>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Orchestration Tool</dt>
                    <dd class="col-md-9 f-16">Ansible</dd>
                    <dt class=" font-weight-normal col-md-3 text-muted mb-2 f-16"> Deployment Tool</dt>
                    <dd class="col-md-9 f-16">Jenkins</dd>
                </dl>
            </div>
            <div class="col-5">
                <h3 class="py-2 border-bottom mb-3 text-capitalize">Certification</h3>
                <dl class="row">                        
                    <dd class="col-md-12 f-16">Pursuing Red hat, _Openshift Administrator._</dd>                        
                    <dd class="col-md-12 f-16">The Linux Foundation CKA: Certified *Kubernetes* Administrator.</dd>                        
                    <dd class="col-md-12 f-16">Red hat, *Ansible* Certified.</dd>                        
                    <dd class="col-md-12 f-16">IBM Certified System Administrator *AIX 6.1* Administration. </dd>
                </dl>
            </div>     
        </div>
    </section> 

    <section class="container mt-2">
        <h3 class="py-2 border-bottom mb-3 text-capitalize">experience</h3>
        <div class="row">
            <div class="col-md-4">
                <h4 class="f-24">Current Organization</h4>
                <h6 class="text-muted font-weight-bold text-capitalize">Comtel Solutions & Ricoh (Singapore), PTE Ltd</h6>
                <h6 class="text-muted text-capitalize">UNIX Engineer</h6>
                <!-- <a target="_blank" href="https://www.dropthought.com">
                    <img src="dist/images/dt.png" style="height: 75px;" class="rounded" alt="...">
                </a> -->
            </div>
            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16">Worked in container-based OpenPaaS technologies like Docker, Kubernetes
                    and Redhat OpenShift.</p>
                <p class="text-muted mb-2 f-16">Build and deployed Docker container for implementing microservice
                    architecture from monolithic architecture.</p>
                <p class="text-muted mb-2 f-16">Worked in OpenShift for creating new Projects, Services for load
                    balancing and adding them to Routes to be accessible from outside, troubleshooting pods through ssh
                    and logs, modification of Buildconfigs, templates, Image streams, etc</p>
                <p class="text-muted mb-2 f-16">Policy creation and patching through HPSA tool.</p>
                <p class="text-muted mb-2 f-16">Involved in migrating legacy servers to Private cloud setup.</p>
                <p class="text-muted mb-2 f-16">Involved Unix patching/upgrades including AIX, Linux and Solaris.</p>
                <p class="text-muted mb-2 f-16">Involved in various automation efforts using Shell scripts</p>
                <p class="text-muted mb-2 f-16">Automated BAU tasks like, OS patching, filesystem management.</p>
                <!-- <p class="text-muted mb-2 f-16">Joined as a Fresher got wellversed with the technology stack. i was 2nd
                    billable
                    resource for the company.</p> -->
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <h4 class="f-24">Previous Organization</h4>
                <h6 class="text-muted font-weight-bold text-capitalize"> Infinite computer solutions</h6>
                <h6 class="text-muted text-capitalize">System Administrator</h6>
                <!-- <a target="_blank" href="http://vhitechlab.com/">
                    <img src="dist/images/vhitech.png" class="rounded" alt="...">
                </a> -->
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> Involved in migrating legacy servers to Private cloud setup</p>
                <p class="text-muted mb-2 f-16"> Planned and Achieved in migrating around 400+ AIX servers from 6.1 to
                    7.1 without any major business impacts.</p>
                <p class="text-muted mb-2 f-16">Contributed ideas and involved in planning of data center migration
                    projects</p>
                <p class="text-muted mb-2 f-16">Involved in planning and designing Private cloud using IBM power
                    virtualization concepts ( VIO, powerVC, PowerVM)</p>
                <p class="text-muted mb-2 f-16">Achieved several AIX physical servers to virtual server migrations</p>
                <p class="text-muted mb-2 f-16">Involved in planning and execution of 600 AIX power7 to power8
                    migrations</p>
                <p class="text-muted mb-2 f-16">Handed IBM p series frame setup end to end</p>
                <p class="text-muted mb-2 f-16">Involved in many SAN migrations on UNIX servers (IBM SAN to EMC & EMC
                    SAN to HDS SAN )</p>
                <p class="text-muted mb-2 f-16">Involved in various automation efforts using Shell scripts</p>
                <p class="text-muted mb-2 f-16">Automated BAU tasks like, OS patching, filesystem management</p>
                <p class="text-muted mb-2 f-16">Involved Unix patching/upgrades including AIX, Linux and Solaris</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- <h4 class="f-24">Previous Organization</h4> -->
                <h6 class="text-muted font-weight-bold text-capitalize"> Tech Mahindra</h6>
                <h6 class="text-muted text-capitalize">Support Lead</h6>
                <!-- <a target="_blank" href="http://vhitechlab.com/">
                    <img src="dist/images/vhitech.png" class="rounded" alt="...">
                </a> -->
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> Managing a multiple flavor in multiple environment to migrate the Monitoring tool.</p>
                <p class="text-muted mb-2 f-16"> Coordinating with a Nagios Team for installation.</p>
                <p class="text-muted mb-2 f-16"> Performing the data collection for the Nagios installation.</p>
                <p class="text-muted mb-2 f-16">Installing the required packages to configure the Nagios tool in Linux.
                </p>
                <p class="text-muted mb-2 f-16">Coordinating with management for requirement.</p>
                <p class="text-muted mb-2 f-16">Coordinating with the Team to configuring and deploying Nagios Monitoring tool.</p>                
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- <h4 class="f-24">Previous Organization</h4> -->
                <h6 class="text-muted font-weight-bold text-capitalize"> Hewlett Packard Enterprise Services.</h6>
                <h6 class="text-muted text-capitalize">ITO Service Delivery consultant level II.</h6>               
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> Involved in AIX migrations using nimadm in SAN boot environment.</p>
                <p class="text-muted mb-2 f-16"> Creating LPARs using HMC, and configuring resources, managing NPIV.</p>
                <p class="text-muted mb-2 f-16"> Involved in migrating a LPAR from P570 to P795.</p>
                <p class="text-muted mb-2 f-16"> Worked on HMC, configuration of LPAR, DLPAR management.</p>
                <p class="text-muted mb-2 f-16"> Configuring SEA and SEA failovers on dual VIOs.</p>
                <p class="text-muted mb-2 f-16"> Performing LVM activities on Linux.</p>  
                <p class="text-muted mb-2 f-16"> Performing cluster activities on HACMP and VCS.</p>  
                <p class="text-muted mb-2 f-16"> Upgrading AIX, LINUX and Solaris Systems.</p>  
                <p class="text-muted mb-2 f-16"> Involved in SAN switch migration projects and completed successfully.</p>                
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- <h4 class="f-24">Previous Organization</h4> -->
                <h6 class="text-muted font-weight-bold text-capitalize"> Chemtrols InfoTech PVT Ltd, Mumbai.</h6>
                <h6 class="text-muted text-capitalize">AIX Administrator.</h6>  
                <h6 class="text-muted text-capitalize"> <strong>client:</strong>  SOVTECH Data Center, Andaman & Nicobar State IT Administration.</h6>               
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> Managing data center activities.</p>
                <p class="text-muted mb-2 f-16"> Working with Field engineer for hardware related activities.</p>
                <p class="text-muted mb-2 f-16"> Performing daily health check over the data center Farm area for any amber light.</p>
                <p class="text-muted mb-2 f-16"> Raising hardware case for any Hardware related issue with vendor.</p>
                <p class="text-muted mb-2 f-16"> Installing Hardware in the data center farm area with Field Engineer.</p>
                <p class="text-muted mb-2 f-16"> Connecting Frames to the HMC and powering on the Frames.</p>  
                <p class="text-muted mb-2 f-16"> Configuring VIO server and VIO clients.</p>  
                <p class="text-muted mb-2 f-16"> Device Mapping to VIO client.</p>  
                <p class="text-muted mb-2 f-16"> Configuration SEA adapter.</p>   
                <p class="text-muted mb-2 f-16"> DLPAR activity on resources.</p>   
                <p class="text-muted mb-2 f-16"> Backup and Restore through NIM server.</p>   
                <p class="text-muted mb-2 f-16"> Involved in activities like Migration, TL up-gradation.</p>   
                <p class="text-muted mb-2 f-16"> Configuring and Managing Devices.</p>   
                <p class="text-muted mb-2 f-16"> Alternate disk installation for reducing the down time.</p>   
                <p class="text-muted mb-2 f-16"> MKSYSB backup using NIM server.</p>   
                <p class="text-muted mb-2 f-16"> ML/ TL, Efix, Service packs Installation.</p>                
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- <h4 class="f-24">Previous Organization</h4> -->
                <h6 class="text-muted font-weight-bold text-capitalize"> Link Ware Technologies PVT Ltd, Chennai.</h6>
                <h6 class="text-muted text-capitalize">AIX System Administrator.</h6>                  
            </div>

            <div class="col-md-8">
                <h5 class="f-18">Roles and Responsibilities</h5>
                <p class="text-muted mb-2 f-16"> Creating User, Group home directories and password administering.</p>
                <p class="text-muted mb-2 f-16"> Creating and maintaining User Administration.</p>
                <p class="text-muted mb-2 f-16"> Increase/decrease the file system size.</p>
                <p class="text-muted mb-2 f-16"> Creating Logical Volumes, File Systems, and Mirroring of LV’s.</p>
                <p class="text-muted mb-2 f-16"> Managing File Systems using LVM.</p>
                <p class="text-muted mb-2 f-16"> Creating Paging space and Managing.</p>  
                <p class="text-muted mb-2 f-16"> ML/TL, Efix, service packs Installation.</p>  
                <p class="text-muted mb-2 f-16"> Managing system services.</p>  
                <p class="text-muted mb-2 f-16"> Device Management.</p>   
                <p class="text-muted mb-2 f-16"> Logging call with IBM for Hardware replacement.</p>   
                <p class="text-muted mb-2 f-16"> Monitoring and troubleshooting System Performance.</p>   
                <p class="text-muted mb-2 f-16"> Scheduling Jobs – Using crontab.</p>   
                <p class="text-muted mb-2 f-16"> Configuring Ether channel.</p>   
                <p class="text-muted mb-2 f-16"> Creating snap and sending to IBM for support.</p>   
                <p class="text-muted mb-2 f-16"> Configuring Dump devices.</p>                
            </div>
        </div>
    </section>

   
</main>

{{ end }}